{% extends "ProyectoDjangoApp/base.html" %}

{% load static %}

{% block content %}


<section class="page-section cta" style="background-color: transparent;">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded" style="background-color: orange !important; color: black; font-size: 1.2em;">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper" style="font-size: 1.5em;">Explora nuestro</span>
                        <span class="section-heading-lower">Blog</span>
                    </h2>
                    <p class="mb-0">Sumérgete en nuestro blog donde encontrarás artículos interesantes, consejos útiles y noticias relevantes. Mantente actualizado con las últimas tendencias y novedades en nuestra industria .</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}